*,
*::before,
*::after {
  margin: 0;
  font-size: 1.1rem;
}

body {
  padding: 10px;
}

button {
  padding: 1rem;
}

.first {
  margin-bottom: 2rem;
}

.second {
  padding: 10px;
  background-color: #fff;
  color: #333;
  margin-top: 2rem;
}
