*,
*::before,
*::after {
  margin: 0;
}

button {
  padding: 1rem;
  font-size: 1rem;
}

.first {
  margin: 10px;
  margin-bottom: 2rem;
}

.second {
  padding: 10px;
  background-color: #333;
  color: #fff;
}
